body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,pre,form,input,textarea,p,hr,thead,tbody,tfoot,th,td{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;}
html{-ms-text-size-adjust:none;-webkit-text-size-adjust:none;text-size-adjust:none;}
body{line-height:1.5; font-size:14px;}
body,button,input,select,textarea{font-family:'helvetica neue',tahoma,'hiragino sans gb',stheiti,'wenquanyi micro hei',\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;}
b,strong{font-weight:bold;}
i,em{font-style:normal;}
table{border-collapse:collapse;border-spacing:0;}
table th,table td{border:1px solid #ddd;padding:5px;}
table th{font-weight:inherit;border-bottom-width:2px;border-bottom-color:#ccc;}
img{border:0 none;width:auto\9;max-width:100%;vertical-align:top; height:auto;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;vertical-align:baseline;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
input:focus{outline:none;}
select[size],select[multiple],select[size][multiple]{border:1px solid #AAA;padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,main,nav,section,summary{display:block;}
audio,canvas,video,progress{display:inline-block;}
body{background:#fff;}
input::-webkit-input-speech-button {display: none}
button,input,textarea{
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
button{border: 0}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    background: #fff;
    margin: 0;
    border: none;
    color: #333;
    -webkit-overflow-scrolling: touch;
}

#app {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    font-size: 14px;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.clear {
    zoom: 1;
}

.back_img {
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.margin {
    margin: 0 auto;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hide {
    display: none;
}

.show {
    display: block;
}

a {
    text-decoration: none;
}

input {
    outline: none;
}

input:read-only {
    background-color: #fff;
}

button {
    outline: none;
}

textarea {
    outline: none;
}

.share-mack-error {
    background: rgba(0, 0, 0, 0.02);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.share-mack-error .tips-txt {
    color: #FD5E02;
    font-size: .8rem;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: bold;
}

.share-mack-error .error-bg {
    width: 12rem;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
}

.share-mack-error .error-bg img {
    height: 8rem;
}

.mint-indicator-wrapper {
    z-index: 9999
}

.network-error {
    background: #fff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

.network-error .net-box {
    height: 200px;
    width: 84%;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #9b9b9b;
    margin-top: -124px;
    margin-left: -42%;
    text-align: center;
}

.network-error .netw-img {
    text-align: center;
    margin-bottom: 10px;
}

.network-error .netw-img img {
    width: 100px;
    height: 100px;
}

.network-error .net-bnt {
    display: block;
    background: #fd5e02;
    border-radius: 100px;
    width: 58%;
    margin: 0 auto;
    color: #fff;
    font-size: 16px;
    padding: 8px 0;
    border: 0;
    margin-top: 24px;
}

.network-error .net-bnt a {
    color: #fff;
}
/* 设置滚动条 */
.noscrollbar {
    height:100px;
    overflow: hidden;
}
.simulation-vertical{
    -webkit-overflow-scrolling: touch;
}
.scroller_vertical,
.scroller_horizontal {	
    border-radius: 2.5px;
    background-color: rgba(0,0,0,.35);
    -webkit-transition: opacity .5s;
            transition: opacity .5s;
    position: absolute;
    opacity: 0;
}
.scroller_vertical {
    width: 5px;
    right: 0;
    top: 0;
}
.scroller_horizontal {
    height: 5px;
    bottom: 0;
}